.no-full-t-h {
  width: 68vw;
  float: right;
  height: 65px;
  border-bottom: solid 1px #D7D7D9; 
  border-left: solid 1px #D7D7D9;
  position: relative;
}

.page-tap-l {
  color: #1DBF3A;
  padding: 15px 32px;
  position: absolute;
  font-weight: 400;
}

.ent-name-h {
  text-align: right;
  font-size: 1em;
  padding: 20px 15px;
  color: #247433;
  font-weight: 400;
}