.bc-t-wrapper {
  position: absolute;
  height: 66px;
  margin: 17px 0px 0px 40px;
}

.bcs-t {
  border-collapse: collapse;
}

.bc-t {
  display: table-cell;
  vertical-align: top;
  background: #F9FAFC;
  border: solid 2px #8492A6;
  padding: 5px 10px;
}

.bc-t.t-open::before, .bc-t.t-close::before, .bc-t.t-progress::before {
  content: "Abierto";
  color: #47525E;
  background: #F95F62;
  font-size: 0.625em;
  padding: 2px 4px;
  font-weight: 700;
  margin: 0px 10px 0px 0px;
}

.bc-t.t-close::before {
  content: "Cerrado";
  background: #4EFF6F;
}

.bc-t.t-progress::before {
  content: "En Progreso";
  background: #f4eb30;
}