.user-header {
  height: 65px;
  width: 95%;
  float: right;
  display: block;
  border-bottom:solid 1px #D7D7D9; 
}

.f-lvl-menu {
  position: absolute;
  right: 0px;
}

.options-h-wrapper {
  height: 100%;
  display: inline-block;
}

.h-el {
  text-align: center;
  height: 100%;
  width: 65px;
  display: inline-block;
}

.h-el :hover {
  cursor: pointer;
}

.h-el i {
  margin: auto;
  font-size: 1.5em;
  padding: 20px 0px;
}


.user-photo ul {
  display: none;
  background: #fff;
  position: absolute;
}

.user-photo ul li {
  list-style: none;
}
.user-photo:hover ul {
  display: block;
  z-index: 29;
}