.left-wrapper-l {
  width: 27vw;
  height: 90vh;
  position: absolute;
  background: #F9FAFC;
  border-top: solid 1px #D7D7D9;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;
}

.left-wrapper-l.no-full-l {
  height: 80vh;
  margin: 66px 0px 0px 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E9F2; 
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8492A6; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8492A2; 
}