.loaded-header {
  background: #4EFF6F;
  height: 100%;
  position: absolute;
  width: 5%;
  display: inline-block;
}

.logo-header {
  width: 100%;
  height: 65px;
  background: url('../../logo.svg') no-repeat 11px 10px;
  background-color: #97FEAA;
  background-size: 40px;
  position: absolute;
}

.h-menu-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-opt {
  list-style: none;
  width: 100%;
}

.header-opt li {
  height: 55px;
  text-align: center;
  background: #4EFF6F;
  transition: 0.3s;
}

.header-opt li:hover {
  background: #AFFFBD;
}

.header-opt li a {
  width: 100%;
  height: 100%;
  display: block;
}

.header-opt li a i {
  padding: 12px 0px;
  color: #000;
  font-size: 1.75em;
}