.tk-form-wrapper {
  margin: 20px;
}

.tk-form-wrapper label,  .tk-form-wrapper input {
  display: block;
}

.tk-form-wrapper label {
  margin: 10px 0px;
}

.tk-form-wrapper select {
  border: solid 1px #000;
  height: 20px;
  -webkit-border-radius: 0px;
}