.principal-t {
  color: #247433;
  font-size: 1.2em;
  font-weight: 400;
  padding: 90px 0px 45px;
}

.keep-l-wrapper {
  margin: 10px 0px;
  display: inline-flex;
  align-content: center;
}

#keep-s-l {
  color: #247433;
  font-size: 1em;
  font-weight: 700;
}

#keep-session {
  vertical-align: center; 
  margin: 1px 5px;
}

#agent {
  color: #247433;
  font-size: 1em;
  font-weight: 700;
  margin: 20px 0px 15px;
  text-align: center;
}

#agent:hover {
  cursor: pointer;
}

#forget-pass {
  color: #247433;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
}

.wrapper-opt-log {
  text-align: center;
}

.out-wrapper-logo {
  display: inline-flex;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.logo-login {
  width: 100%;
  height: 100%;
  background: url(./Logo.svg) no-repeat;
  background-size: 70%;
  background-position: 0px 40%;
  background-color: #A1FFB3;
  transition: all 0.7s ease;
}

.logo-login:hover {
  filter: blur(1.2px);
  transform: scale(1.1);
}

.logo-login img {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: inline-flex;
  width: 50vw;
  height: 100vh;
  vertical-align: top;
}

.form-l-wrapper {
  width: 100%;
  padding: 0px 40px;
}

.form-l-wrapper .input-wrapper {
  margin: 20px 0px;
}

.form-l-wrapper .input-label {
  padding: 5px 0px;
}

.form-l-wrapper .btn-green-p {
  margin: 10px 0px;
}

.form-l-wrapper .field-text {
  height: 45px;
}

.form-l-wrapper .field-password {
  height: 45px;
}

/* width */
body::-webkit-scrollbar {
  display: none;
}