.indicator-wrapper {
  display: inline-block;
  margin: 15px 25px;
  vertical-align: top;
  color: #8492A6;
}

.indicator-wrapper h5 {
  color: #247433;
  font-weight: 400;
  font-size: 1em;
  margin: 5px 0px 10px 0px;
}

.inds-wrapper {
  border-collapse: collapse;
}

.ind-card {
  text-align: center;
  display: table-cell;
  background: #F9FAFC;
  border: solid 1px #8492A6;
  padding: 15px;
}