.tab-container {
  width: 27%;
  position: absolute;
  height: 66px;
  border-bottom: solid 1px #D7D7D9;
  border-top: solid 1px #D7D7D9;
  background: #F9FAFC;
}

.tab-wrapper {
  padding: 15px 0px 0px 15px;
}

.tab-left {
  display: inline-block;
  border: solid 1px #8492A6;
  padding: 8px 10px;
  background: #EAEBED;
}

.tab-left:hover {
  cursor: pointer;
}

.tab-left p,  .tab-left p a{
  color: #247433;
  font-weight: 400;
  font-size: 0.85em;
}

.tab-left p a {
  text-decoration: none;
}