.t-h-list {
  width: 100%;
  margin: 20px 0px 0px 0px;
  border-collapse: collapse;
}

.t-h-list {
  font-size: 1em;
  font-weight: 400;
}

.t-h-list thead {
  color: #247433;
}

.t-h-list tbody {
  color: #8492A6;
}

.tr-alt {
  background: #F9FAFC;
}

.t-h-list td {
  padding: 5px;
}
.id-tl {
  text-align: center;
}

.t-h-list tbody a{
  color: #8492A6;
  text-decoration: none;
}