body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: 1em;
}

.btn-green-p {
  background-color: #4EFF6F;
  color: #247433;
  font-size: 1em;
  width: 100%;
  height: 45px;
  font-weight: 700;
}

.btn-green-p:hover {
  cursor: pointer;
}
