.input-wrapper {
  width: 100%;
}

.input-wrapper .input-label {
  color: #247433;
  font-weight: 700;
  font-size: 1em;
  display: block;
}

.field-text {
  width: 100%;
  font-size: 0.95em;
  height: 25px;
  border: solid 1px #343F4B;
}

.field-password {
  width: 100%;
  height: 25px;
  border: solid 1px #343F4B;
}