.card-t-update {
  background: #FFF;
  margin: 15px 10px;
  padding: 15px 25px;
  color: #8492A6;
  font-weight: 400;
  font-size: 1em;
}

.card-l-img, .card-r-description {
  display: inline-block;
}

.card-l-img {
  height: 100%;
  width: 30%;
}

.card-r-description {
  width: 70%;
}