.form-tk-wrapper {
 width: 100%;
 font-size: 1em;
}

.form-tk-wrapper h2 {
  color: #247433;
  font-weight: 400;
  font-size: 1.25em;
  padding: 35px 0px 20px 20px;
}

.form-tk-wrapper label, .form-tk-wrapper input, .form-tk-wrapper textarea {
  display: block;
  margin: 0px 0px 10px 20px;
}

.form-tk-wrapper input, .form-tk-wrapper textarea {
  border: solid 1px #000;
}

.form-tk-wrapper input {
  height: 30px;
}

.form-tk-wrapper textarea {
  width: 90%;
  height: 200px;
  font-size: 1em;
}

.s-tk {
  background-color: #4EFF6F;
  color: #247433;
  font-size: 1em;
  height: 45px;
  width: 120px;
  font-weight: 700;
  margin: 0px 64px 0px 0px;
  float: right;
}

.s-tk:hover {
  cursor: pointer;
}
